CONFIG_ARM=y
CONFIG_ARCH_MX6=y
CONFIG_TARGET_MX6BOBO9=y
CONFIG_SYS_EXTRA_OPTIONS="IMX_CONFIG=board/ubiqconn/bobo9/mx6solo_16x_K4B4G1646D.cfg,MX6SOLO,SYS_NOSMP=\"nosmp\""
CONFIG_SYS_MALLOC_F=y
CONFIG_SYS_MALLOC_F_LEN=0x400
CONFIG_DM=y
CONFIG_DM_THERMAL=y
CONFIG_SYS_PROMPT="bobo9> "
