CONFIG_ARM=y
CONFIG_ARCH_MX6=y
CONFIG_TARGET_MX6DUBYA=y
CONFIG_SYS_EXTRA_OPTIONS="IMX_CONFIG=board/ubiqconn/dubya/mx6q_4x_mt41j128.cfg,MX6Q"
CONFIG_CMD_NET=y
CONFIG_CMD_NFS=y
CONFIG_SYS_MALLOC_F=y
CONFIG_SYS_MALLOC_F_LEN=0x400
CONFIG_SYS_PROMPT="DUBYA> "
