CONFIG_ARM=y
CONFIG_ARCH_MX6=y
CONFIG_TARGET_MX6TINTO=y
CONFIG_SYS_EXTRA_OPTIONS="IMX_CONFIG=board/ubiqconn/tinto/mx6solo_16x_mt41k256m.cfg,MX6SOLO,SYS_BOOT_SPINOR,SYS_NOSMP=\"nosmp\""
CONFIG_SYS_MALLOC_F=y
CONFIG_SYS_MALLOC_F_LEN=0x400
CONFIG_DM=y
CONFIG_DM_THERMAL=y
CONFIG_MXC_SPI=y
CONFIG_SYS_PROMPT="mx6tinto> "
CONFIG_SYS_CBSIZE=1024
CONFIG_SYS_MAXARGS=256
CONFIG_BOOTDELAY=1
